.nbar{
    margin-left: -99%;
    }
    .proposal{
    list-style: none; margin-bottom: 6%;  border: 1px solid #C6C6C6; width: 800px; height: 170px; border-radius: 10px;
    }
    .proposal:hover {
    list-style: none; margin-bottom: 6%;  border: 3px solid #62986E; width: 800px; height: 170px; border-radius: 10px;
    }
    .proposal_none{
    list-style: none;
    }
    
    .btn{ 
          text-decoration: none;
          font-size:2rem;
          color:white;
          padding:10px 20px 10px 20px;
          margin:20px;
          display:inline-block;
          
          transition:all 0.1s;
          text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
          
        }
        .btn:active{
          transform: translateY(3px);
        }
        .btn.green{
          background-color: #5FC587;
          border-bottom:5px solid #5FC587;
        }
        .btn.green:active{
          border-bottom:2px solid #5FC587;
        }
        .btn.red{
          background-color: #D3414D;
          border-bottom:5px solid #D3414D;
        }
        .btn.red:active{
          border-bottom:2px solid #D3414D;
        }
        .btn.black{
          background-color: #333333;
          border-bottom:5px solid #333333;
          margin-left: 78%;
        }
        .btn.black:active{
          border-bottom:2px solid #333333;
        }